asgiref==3.11.1
black==25.11.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.1.8
coverage==7.10.7
coveralls==4.0.1
Django==4.2.28
docopt==0.6.2
flake8==7.3.0
idna==3.11
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.4.0
psycopg==3.2.13
psycopg-binary==3.2.13
pycodestyle==2.14.0
pyflakes==3.4.0
python-dotenv==1.2.1
pytokens==0.4.1
requests==2.32.5
sqlparse==0.5.5
tomli==2.4.0
typing_extensions==4.15.0
urllib3==2.6.3
django-storages==9.4.1
boto3==1.34.49